{% extends 'layout.html' %}
{% block title %}
Add Books
{% endblock %}
{% block style %}
<style>
    .containers {
        border: 1px solid #454251;
        padding: 20px;
        margin: 10px;
        border-radius: 25px;
        position: relative; 
    }

    .add-btn {
        position: absolute; 
        bottom: 10px; 
        right: 10px; 
    }
</style>
{% endblock %}

{% block content %}
<h1>Add New Books</h1>

<form method="POST" action="{{url_for('add_books_post')}}">
    <div class="containers">
        <div class="mb-3">            
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" class="form-control" required><br>
        </div>

        <div class="mb-3">
            <label for="author" class="form-label">Author:</label>
            <input type="text" id="author" name="author" class="form-control" required><br>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Content:</label>
            <textarea id="content" name="content" class="form-control"></textarea><br>
        </div>

        <div class="mb-3">
            <label for="date_created" class="form-label">Date Created:</label>
            <input type="date" id="date_created" class="form-control" name="date_created" 
            value="{{ now }}"
             required><br>
        </div>

        <div class="mb-3">
            <label for="section_id" class="form-label">Section:</label>
            <select name="section_id" id="section_id" class="form-control" required>
                {% for sect in sections %}
                {% if sect.id == section.id %}
                    <option selected value="{{ sect.id }}">{{ sect.title }}</option>
                {% else %}
                    <option value="{{ sect.id }}">{{ sect.title }}</option>
                {% endif %}
                {% endfor %}
            </select>

        </div>
    
        <a href="{{url_for('librarian')}}" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="Add Book" class="btn btn-primary">
    </div>
</form>

{% endblock %}
