{% extends 'layout.html' %}
{% block title %}
    Delete Books
{% endblock %}


{% block content %}
    <h1>Delete Books</h1>
    
    <p class="text-danger">Are you sure you want to delete {{book.title}}?</p>
    <form method="POST" class="form">  
        
        <a href="{{url_for('librarian')}}" class="btn btn-secondary">Cancel</a>   
    <br><br>
        <div class="add-btn"> 
        </i>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-trash"></i> 
            Delete
        </button>
        </div>
    </div>
    </form>
    </div>
    
{% endblock %}