{% extends 'layout.html' %}
{% block title %}
    Add Section
{% endblock %}
{% block style %}
    <style>
        .add-btn{
            float: right;
        }
        .containers{
            border: 1px solid #454251;
            padding: 20px; 
            margin: 10px; 
            border-radius: 25px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Add New Section</h1>
    
    <form method="POST">
        <div class="containers">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="section" required>
        </div>
        <div class="mb-3">
            <label for="date_created" class="form-label">Date Created</label>
            <input type="date" class="form-control" id="date_created" name="date_created" required>
        </div>
        <div class="mb-3">
            <label for="add_image" class="form-label">Add Image</label>
            <input type="file" class="form-control" id="add_image" name="add_image">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>        
        <a href="{{url_for('librarian')}}" class="btn btn-secondary">Cancel</a>
        <div class="add-btn">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
    </form>
    </div>
    
{% endblock %}