{% extends 'layout.html' %}
{% block title %}
    My Books
{% endblock %}

{% block style %}
    <style>
        .btn-group .btn {
            margin-right: 5px; /* Adjust the margin as needed */
        }

        body {
            background-image: url("/static/bg.avif");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
       
    </style>
{% endblock %}

{% block content %}

    <h1 class="display-1">My Books</h1>
    <hr>

    {% if borrowed_books|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>Book Title</th>
                    <th>Content</th>
                    <th>Author</th>
                    <th>Remaining Days</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in borrowed_books %}
                    <tr>
                        <td>{{ book.books.section.title }}</td>
                        <td>{{ book.books.title }}</td>
                        <td>{{ book.books.content }}</td>
                        <td>{{ book.books.author }}</td>
                        <td>{{ remaining_days_dict.get(book.book_id, 'N/A') }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <form action="{{ url_for('return_book', book_id=book.books.id) }}" method="post">
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                        Return
                                    </button>
                                </form>
                                <form action="{{ url_for('rate_book', book_id=book.books.id) }}">
                                    <button class="btn btn-primary btn-sm">
                                        <i class="fas fa-edit"></i>
                                        Rate Book!
                                    </button>
                                </form>
                                <a href="{{ url_for('pdf_view', book_id=book.books.id) }}" class="btn btn-success btn-sm">
                                    <i class="fas fa-book-open"></i>
                                    Read
                                </a>
                                
                                <form action="{{ url_for('feedback_book', book_id=book.books.id) }}">
                                    <button class="btn btn-primary btn-sm">
                                        <i class="fas fa-edit"></i>
                                        Feedback!
                                    </button>
                                </form>
                                
                                <form action="{{ url_for('download_book', book_id=book.books.id) }}">
                                    <button class="btn btn-info btn-sm">
                                        <i class="fas fa-download"></i>
                                        Download
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            <h2>No borrowed books</h2>
        </div>
    {% endif %}
    <h1>Overdue Books</h1>
    <hr>
    {% if overdue_books|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>Book Title</th>
                    <th>Content</th>
                    <th>Author</th>
                    <th>Issue</th>
                </tr>
            </thead>
            <tbody>
                {% for book in overdue_books %}
                    <tr>
                        <td>{{ book.books.section.title }}</td>
                        <td>{{ book.books.title }}</td>
                        <td>{{ book.books.content }}</td>
                        <td>{{ book.books.author }}</td>
                        <td><strong style="color: red;">Overdue!!</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            <h2>No overdue books</h2>
        </div>
    {% endif %}
{% endblock %}
