<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div style="display: flex;">
        <div style="width: 50%;">
            <h2>Section Distribution</h2>
            {{ plot_html_pie|safe }}
        </div>
        <div style="width: 50%;">
            <h2>Number of Books per Section</h2>
            {{ plot_html_bar|safe }}
        </div>
    </div>
</body>
</html>
