<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>
<body>
    <h1>Login</h1>
    <form>
        <label for="USERNAME">USERNAME</label>
        <input type="text" name="USERNAME"><br>

        <label for="PASSWORD">PASSWORD</label>
        <input type="password" name="PASSWORD"><br>

        <button type="submit">LOGIN</button>
    </form>
</body>
</html>