{% extends 'layout.html' %}

{% block title %}
    Library Management System
{% endblock %}

{% block content %}
<div class="container">

    <h1><img src="/static/books.jpg" alt="Library" style="width:180px; height: 110px;"></h1>
    
{% include 'searchbar.html' with context %}
<hr>

</div>
    <div class="buttons-container">
        <a href="{{ url_for('faq') }}" class="btn btn-dark" style= "margin-right:5px" type="button">FAQ</a>
        <a href="{{ url_for('borrowed_books') }}" class="btn btn-dark" style= "margin-right:5px" type="button">My Books</a>
        <a href="{{ url_for('dashboard') }}" class="btn btn-dark" type="button">Stats</a>
    </div>
    
    
    <div class="sections-list">
        {% for section in sections %}
            <h2>{{ section.title }}</h2>
            <div class="books">
                {% for book in section.books %}
                    {% if book in books %}
                        <div class="card" style="width: 18rem;">
                            <img src="https://picsum.photos/200/200?seed={{ book.id }}" class="card-img-top" alt="{{ book.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.name }}</h5>
                                <p class="card-text">
                                    <strong>Title:</strong> {{ book.title }}<br>
                                    <strong>Description:</strong> {{ book.content }}<br>
                                    <strong>Author:</strong> {{ book.author }}
                                </p>
                                <div class="quantity_input">
                                    <form action="{{ url_for('request_book', book_id=book.id, days=7) }}" method="POST" class="form">
                                        <div class="mb-3">
                                            <label for="days" class="form-label">Number of Days:</label>
                                            <input type="number" class="form-control" id="days" name="days" min="1" max="7" required>
                                        </div>
                                        <input type="submit" value="Request Book" class="btn btn-success">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block style %}
    <style>
        .sections-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .books {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card {
            margin: 10px;
        }
        h1{
            text-align: center;
        }
        
        body {
            background-image: url("/static/bg.avif");
            height: 100%;
            background-attachment: relative;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .buttons-container {
            display: flex;
            justify-content:flex-end; /* Adjust as needed */
            margin-bottom: 10px; /* Optional: Add some space between the buttons and other content */
        }
        
    </style>
{% endblock %}
