{% extends 'layout.html' %}
{% block title %}
    Librarian
{% endblock %}
{% block style %}
    <style>
        .centered {
            text-align: center;
        }
        body {
            background-image: url("/static/bg.avif");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
              
    </style>
{% endblock %}
{% block content %}
    <div class="centered">
        <h1 style="color:brown">Welcome, Librarian</h1>
        <h5 style="color:rgb(93, 12, 12)">Your Command Center for Knowledge and Order</h5>
        <hr><br>
    </div>

    <div class="row mb-3">
        <div class="col-md">
            <a href="{{ url_for('add_section') }}">
                <button type="button" class="btn btn-info">
                    <i class="fas fa-plus"></i> Add Section to library
                </button>
            </a>
        </div>
        <div class="col-md">
            <a href="{{ url_for('requested_books') }}">
                <button type="button" class="btn btn-info">
                    Review Requested Books
                </button>
            </a>
        </div>
        <div class="col-md">
            <a href="{{ url_for('librarian_dashboard') }}">
                <button type="button" class="btn btn-info">
                    Your Library Books Stats
                </button>
            </a>
        </div>
        <div class="col-md">
            <a href="{{ url_for('check_overdue_books') }}">
                <button type="button" class="btn btn-info">
                    View Overdue Books
                </button>
            </a>
        </div>
        <div class="col-md">
            <a href="{{ url_for('book_ratings_feedback') }}">
                <button type="button" class="btn btn-info">
                    <i class="fas fa-list"></i> View Ratings & Feedback
                </button>
            </a>
        </div>
        <div class="col-md">
            <a href="{{ url_for('library_status') }}">
                <button type="button" class="btn btn-info">
                    <i class="fas fa-list"></i> View Library Status
                </button>
            </a>
        </div>
    </div>

    <h3>Sections</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Section ID</th>
                <th>Section Name</th>
                <th>Number of books</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.id }}</td>
                    <td>{{ section.title }}</td>
                    <td>{{ section.books|length }}</td>
                    <td>
                        <a href="{{ url_for('view_section', section_id=section.id) }}">
                            <button type="button" class="btn btn-primary">
                                <i class="fas fa-eye"></i> View
                            </button>
                        </a>

                        <a href="{{ url_for('edit_section', section_id=section.id) }}">
                            <button type="button" class="btn btn-warning mx-1">
                                <i class="fas fa-edit"></i> Edit
                            </button>
                        </a>

                        <a href="{{ url_for('delete_section', section_id=section.id) }}">
                            <button type="button" class="btn btn-danger mx-1">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </a>
                        <a href="{{ url_for('add_books',section_id=section.id) }}">
                            <button type="button" class="btn btn-info">
                                <i class="fas fa-plus"></i> Add Books
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
