{% extends 'layout.html' %}
{% block title %}
    Librarian
{% endblock %}
{% block style %}
    <style>
        #add-btn{
            float: right;
            font: 400 18px/1.5 'Lato';
        }
        .centered {
            text-align: center;
        }
        
    </style>
{% endblock %}
{% block content %}
    <div class="centered">
        <h1>Librarian</h1>
        <p>Welcome to the librarian area</p>
    </div>
    <a href="{{ url_for('add_section') }}">
        <button type="button" id="add-btn" class="btn btn-info">
            <i class="fas fa-plus"></i> Add Section!
        </button>
    </a>
    <br><br>

    <h3>Sections</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Section ID</th>
                <th>Section Name</th>
                <th>Number of books</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section.title }}</td>
                <td>{{ section.books|length }}</td>
                <td>
                    <a href="{{ url_for('view_section', section_id=section.id) }}">

                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-eye"></i> View
                        </button>
                    </a>

                    <a href="{{ url_for('edit_section', section_id=section.id) }}">
                        <button type="button" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    </a>

                    <a href="{{ url_for('delete_section', section_id=section.id) }}">
                        <button type="button" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </a>
                    <a href="{{ url_for('add_books',section_id=section.id) }}">
                        <button type="button" class="btn btn-info">
                            <i class="fas fa-plus"></i> Add Books
                        </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
